<!--{% for post in site.posts %}
	{% if post.group != 'works' %}
    <div class="radius_border">
        <div class="post-nav">
		    <a href="{{ BASE_PATH }}{{ post.url }}">
			    <div class="post-imgbox">
				    <img src="{{ BASE_PATH }}/images/{{post.postphoto}}.jpg">
				    <div class="category-tag"><p>{{post.category}}</p></div>
		        </div>
			</a>
			<div class="post-titletag">
			    <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
				<p>Posted on {{ post.date | date_to_string }}</p>
			</div>
		</div>
	</div>
    {% endif %}
{% endfor %}
</div>-->
<!-- This loops through the paginated posts -->
<div>
{% for post in paginator.posts %}
    {% if post.group != 'works' %}
    <div class="radius_border">
        <div class="post-nav">
            <a href="{{ BASE_PATH }}{{ post.url }}">
                <div class="post-imgbox">
                    <img src="{{ BASE_PATH }}/images/{{post.postphoto}}.jpg">
                    <div class="category-tag"><p>{{post.category}}</p></div>
                </div>
            </a>
            <div class="post-titletag">
                <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
                <p>Posted on {{ post.date | date_to_string }}</p>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
<!-- Pagination links -->
<div class="pagination">
    <ul>
    {% if paginator.previous_page %}
        <li class="prev"><a href="{{ paginator.previous_page_path }}" title="{{ page.previous.title }}">&larr; 上一页</a></li>
    {% else %}
        <li class="prev disabled"><a>&larr; 上一页</a></li>
    {% endif %}
        <li><a>页码: {{ paginator.page }} / {{ paginator.total_pages }}</a></li>
    {% if paginator.next_page %}
        <li class="next"><a href="{{ paginator.next_page_path }}" title="{{ page.next.title }}">下一页 &rarr;</a></li>
    {% else %}
        <li class="next disabled"><a>下一页 &rarr;</a>
    {% endif %}
    </ul>
</div>
