<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
     
    <div class="navbar">
	   <div class="headbar-inner">
	    <div class="container-narrow">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
		  <p class="tagline">{{site.tagline}}</p>
		  <header-icon>
		   <iconbox class="email">
		    <a href="mailto:gqplus2@gmail.com" title="Email"><img src="{{ BASE_PATH }}/images/email-48.png"></a>
		   </iconbox>
		   <iconbox class="facebook">
		    <a href="https://www.facebook.com/joe.gao.754" target="_blank" title="Facebook"><img src="{{ BASE_PATH }}/images/facebook-48.png"></a>
		   </iconbox>
		   <iconbox class="twitter">
		    <a href="https://twitter.com/gqplus2" target="_blank" title="Twitter"><img src="{{ BASE_PATH }}/images/twitter-48.png"></a>
		   </iconbox>
		   <iconbox class="renren">
		    <a href="http://www.renren.com/250542730/profile" target="_blank" title="Renren"><img src="{{ BASE_PATH }}/images/renren.png"></a>
		   </iconbox>
		   <iconbox class="weibo">
		    <a href="http://weibo.com/u/1887411752" target="_blank" title="Weibo"><img src="{{ BASE_PATH }}/images/sinaweibo-48.png"></a>
		   </iconbox>
		   <iconbox class="rss">
		    <a href="{{ BASE_PATH }}{{site.JB.rss_path}}"><img src="{{ BASE_PATH }}/images/rss-48.png"></a>
		   </iconbox>
		  </header-icon>
		  <!--<div class="iconbox">
		  <a href="{{ HOME_PATH }}"><img src="{{ BASE_PATH }}/images/flag_usa.png"></a>
		  </div>
		  <div class="iconbox">
		  <a href="{{ HOME_PATH }}"><img src="{{ BASE_PATH }}/images/flag_china.png"></a>
		  </div>-->
		 </div>
      </div>
	  <div class="navbar-inner">
	     <div class="container-narrow">
          <ul class="nav">
		    <li><a href="{{HOME_PATH}}">主页</a></li>
		    {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}	
		  </ul>
          <ul class="changelang"><li><a id="lang"></a></li></ul>
		</div>
	 </div>
   </div>
   
	<script type="text/javascript">
	{
 		thisurl=document.URL;
		if (thisurl.match("www.gqplus2.com"))
		{
			document.getElementById( "lang" ).href = thisurl.replace(/www.gqplus2.com/,"cn.gqplus2.com");
			document.getElementById( "lang" ).innerHTML = "中文版";
		}
		else
		{
			document.getElementById( "lang" ).href = thisurl.replace(/cn.gqplus2.com/,"www.gqplus2.com");
			document.getElementById( "lang" ).innerHTML = "English Version";
		}
	}
</script>
   
   <div class="container-narrow">
     <div class="head-box">
	   <div class="imgbox">
         <img src="{{ BASE_PATH }}/images/{{page.postphoto}}.jpg">
	   </div>
	   <div class="header-title">
        <div class="header-title-wrap">
         <h2>{{ page.title }}</h2>
         <p>{{ page.description}}</p>
        </div>
       </div>
     </div>
   </div>
    
     
      <div class="page-container">
	   <div class="container-narrow">
	       {{ content }}
       </div>
	  </div>
	  
	  <footer>
	    <h6>Copyright &copy; {{ site.time | date: '%Y' }} <a href="http://www.qiaogao.net/BIO.html" target="_blank">{{ site.author.name }}</a> All rights reserved</h6>
        <h6>Developed with help from <a href="https://github.com/" target="_blank">GitHub</a>
          and <a href="http://jekyllrb.com/" target="_blank">Jekyll</a>
        </h6>
	  </footer>
    

    {% include JB/analytics %}
  </body>
</html>
